html, body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	
	background: #000000;
	color: white;
}

html, body, canvas {
	touch-action: none;
	touch-action-delay: none;
}

#notSupportedWrap {
	margin: 2em auto 1em auto;
	width: 75%;
	max-width: 45em;
	border: 2px solid #aaa;
	border-radius: 1em;
	padding: 2em;
	background-color: #f0f0f0;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	color: black;
}

#notSupportedTitle {
	font-size: 1.8em;
}

.notSupportedMessage {
	font-size: 1.2em;
}

.notSupportedMessage em {
	color: #888;
}


@font-face {
	font-family: 'avengeance_mightiest_avenger-webfont';
	src: url('fonts/avengeance_mightiest_avenger-webfont.woff2') format('woff2'), url('fonts/avengeance_mightiest_avenger-webfont.woff') format('woff');
}

@font-face {
	font-family: 'komtxtb_-webfont';
	src: url('fonts/komtxtb_-webfont.woff2') format('woff2'), url('fonts/komtxtb_-webfont.woff') format('woff');
}

@font-face {
	font-family: 'db adman x bd it v3.2';
	src: url('fonts/db adman x bd it v3.2.ttf') format('truetype');
}

@font-face {
	font-family: 'db adman x bd v3.2';
	src: url('fonts/db adman x bd v3.2.ttf') format('truetype');
}

@font-face {
	font-family: 'db adman x bd';
	src: url('fonts/db adman x bd.ttf') format('truetype');
}

@font-face {
	font-family: 'db adman x bdit';
	src: url('fonts/db adman x bdit.ttf') format('truetype');
}

@font-face {
	font-family: 'db adman x it v3.2';
	src: url('fonts/db adman x it v3.2.ttf') format('truetype');
}

@font-face {
	font-family: 'db adman x italic';
	src: url('fonts/db adman x italic.ttf') format('truetype');
}

@font-face {
	font-family: 'db adman x li it v3.2';
	src: url('fonts/db adman x li it v3.2.ttf') format('truetype');
}

@font-face {
	font-family: 'db adman x li v3.2';
	src: url('fonts/db adman x li v3.2.ttf') format('truetype');
}

@font-face {
	font-family: 'db adman x li';
	src: url('fonts/db adman x li.ttf') format('truetype');
}

@font-face {
	font-family: 'db adman x liit';
	src: url('fonts/db adman x liit.ttf') format('truetype');
}

@font-face {
	font-family: 'db adman x ulli it v3.2';
	src: url('fonts/db adman x ulli it v3.2.ttf') format('truetype');
}

@font-face {
	font-family: 'db adman x ulli v3.2';
	src: url('fonts/db adman x ulli v3.2.ttf') format('truetype');
}

@font-face {
	font-family: 'db adman x ultrali';
	src: url('fonts/db adman x ultrali.ttf') format('truetype');
}

@font-face {
	font-family: 'db adman x ultraliit';
	src: url('fonts/db adman x ultraliit.ttf') format('truetype');
}

@font-face {
	font-family: 'db adman x v3.2';
	src: url('fonts/db adman x v3.2.ttf') format('truetype');
}

@font-face {
	font-family: 'db adman x';
	src: url('fonts/db adman x.ttf') format('truetype');
}

